body {
    background: url("../images/hops1.png");
    background-repeat: repeat;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    color: rgb(5, 74, 5);
}

h4 {
    font-family: 'Rock Salt', cursive;
}

.btn {
    background-color: black;
    padding: 0.5rem;
    margin: 2rem;
}

.jumbotron {
    background-color: white;
    text-align: center;
    opacity: 0.9;
    margin-bottom: 0;
}

.paragraph-background {
    background-color: white;
    text-align: center;
    opacity: 0.95;
    letter-spacing: 0.1rem;
}